/*
    The CSS for the NavBar Dropdown
 */

.navbardropdown-container {
    display: flex;
    margin-right: 15px;
    cursor: pointer;
}

.navbardropdown-username {
    font-family: Orbitron;
    letter-spacing: 3px;
    font-size: 20px;
    margin-right: 5px;
}

.navbardropdown-list {
    position: absolute;
    right: 20px;
    margin-top: 10px;
    width: 200px;
    background: #79b3c8;
    border-radius: 3px;
}

.navbardropdown-list-items {
    font-family: Orbitron;
    width: 200px;
    font-size: 18px;
    padding: 10px;
    background: #79b3c8;
    transition: background-color .25s linear;
    cursor: pointer;
}

.navbardropdown-list-items:hover {
    background: #459bc5;
    color: black !important;
}

.navbardropdown-logout {
    color: #ffffff;
    border-radius: 0 0 3px 3px;
}

a.navbardropdown-logout
{
    display:block;
    text-decoration: none;
}

a.navbardropdown-logout:hover {
    color:#ffffff;
    text-decoration: none;
}