/*
    The CSS for the NavBar Dropdown
 */

.navbardropdown-container {
    display: flex;
    margin-right: 15px;
    cursor: pointer;
}

.navbardropdown-username {
    font-family: Orbitron;
    letter-spacing: 3px;
    font-size: 20px;
    margin-right: 5px;
}

.navbardropdown-list {
    position: absolute;
    margin-top: 10px;
    width: 143px;
    background: #79b3c8;
    border-radius: 3px;
}

.navbardropdown-list-items {
    font-family: Orbitron;
    font-size: 18px;
    padding: 10px;
    background: #79b3c8;
    cursor: pointer;
}

.navbardropdown-list-items:hover {
    background: #6987db;
}

.navbardropdown-logout {
    max-width: 143px;
    overflow: hidden;
}