/*
    This is the CSS for the NavBar component
 */

.navbar-base {
    background: #459bc5;
    box-shadow: 1px 5px 12px 1px #5a6e75;
    color: white;
    min-height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-header {
    margin-left: 15px;
    font-size: 25px;
}
