/*
    The CSS for the GameType page
 */

.gametype-base {
    background: black;
    min-height: 100vh;
}

.gametype-container {
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gametype-content {
    text-align: center;
}