/*
    The CSS for the GamePage Page
 */

@keyframes headerFade {
    0% {
        opacity: 0;
    } 25% {
        opacity: 90%;
          }
    75% {
        opacity: 90%;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes headerPulse {
    from {
        box-shadow: 0 0 5px 3px;
    } to {
        box-shadow: 0 0 25px 3px;
      }
}

@keyframes revealTimer {
    from {
        opacity: 0;
    } to {
              opacity: 90%;
          }
}


html, body {
    margin: 0 !important;
    padding: 0 !important;
    height: 100vh;
}

.gamepage-base {
    /*
    display: flex;
    justify-content: center;
    align-items: center ;
     */
    overflow: hidden;
    background-color: black;
    height: 100vh;
}

.gamepage-game-container {
    position: relative;;
    overflow: hidden;
}

.gamepage-canvas-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.gamepage-header {
    font-size: 40px;
    position: absolute;
    top: 50px;
    left: 50%;
    font-family: 'Orbitron';
    transform: translate(-50%, 0);
    color: #e5f77d;
    animation: headerFade 10s linear, headerPulse 10s alternate-reverse;
    animation-fill-mode: forwards;
    border-bottom: 1px solid #e5f77d;
    border-radius: 10px;
    padding: 15px;
    background-color: black;
    z-index: 30;
}

.gamepage-timer {
    font-size: 40px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    font-family: 'Orbitron';
    transform: translate(-50%, 0);
    color: #e5f77d;
    animation: revealTimer 1s linear;
    animation-fill-mode: forwards;
    border-bottom: 1px solid #e5f77d;
    border-radius: 10px;
    padding: 15px;
    background-color: black;
    z-index: 30;
}

.gamepage-character-header {
    font-family: Orbitron;
    font-size: 25px;
    color: red;
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 30;
}

.gamepage-ui-button {
    position: absolute;
    font-family: 'Orbitron';
    width: 200px;
    height: 100px;
    color: #e5f77d;
    border: 1px solid #e5f77d;
    box-shadow: 0 0 8px 1px;
    background: #262626;
}

.gamepage-leavegame-button {
    height: 75px;
    width: 100px;
    top: 25px;
    left: 23px;
    z-index: 30;
}

.gamepage-powerup-button {
    bottom: 186px;
    right: 23px;
    z-index: 30;

}

.gamepage-tag-button {
    bottom: 71px;
    right: 23px;
    z-index: 30;
}

.gamepage-tag-disabled {
    border: 1px solid #000000;
    box-shadow: 0 0 8px 1px #b2bb58;
    background: #262626;
    color: #8f9459;
    cursor: default;
}

.gamepage-ui-button:focus {
    text-decoration: none;
    outline: none;
}

canvas {
    position : absolute;
    bottom: 0;
    top: 0;
    background-color: transparent;
}
/*
#darkness-layer {
    z-index : 22;
    background-color: transparent;
}*/
#player-layer {z-index : 21;
    background-color:transparent;}
#map-layer {z-index : 20}

