/*
    This will be the CSS for the HomePage
 */

body {
    background-image: url("./assets/flashlight.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.homepage-header {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.homepage-button {
    width: 250px;
}

.homepage-header-text {
    font-family: "PT Mono";
    font-size: 600%;
    margin-top: 18%;
    margin-bottom: 100px;
    z-index: 40;
}

/*
.homepage-background {
    background-image: url("./assets/flashlight.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: 20;
}

.homepage-flashlight {
    position: absolute;
    margin-top: -25%;
    margin-right: -170%;
    right: 0;
    top: 0;
    width: 400%;
    height: 200%;
    transform: rotate(10deg);
    z-index: 30;
}
.homepage-flashlight-base {
    position: absolute;
    width: 150px;
    height: 150px;
    top: -30px;
    right: -40px;
    background: #53585C;
    transform: rotate(52.85deg);
}

.homepage-flashlight-circle-dark {
    position: absolute;
    width: 153px;
    height: 160px;
    top: 25px;
    right: 37px;
    border-radius: 50%;
    background: #71787D;
}

.homepage-flashlight-circle-bright {
    position: absolute;
    width: 100px;
    height: 110px;
    top: 55px;
    right: 70px;
    border-radius: 50%;
    background: #E8DBB0;
}

.homepage-flashlight-triangle {
    position: absolute;
    width: 0;
    height: 0;
    top: -185px;
    right: 255px;
    border-top: 585px solid transparent;
    border-right: 900px solid #E8DBB0;
    border-bottom: 585px solid transparent;
    transform: rotate(25deg);
    border-radius: 100px;
    z-index: 30;
}
 */
