/*
    The CSS for the Chat component.
 */

.chat-base {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 97%;
    height: 50%;
    max-height: 50%;
    padding: 10px;
    border: 2px solid #00ff38;
    box-shadow: 0 0 7px 1px #00fe39;
}

.chat-messages {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 84%;
    max-height: 84%;
    overflow: scroll;
}

.chat-messages::-webkit-scrollbar {
    display: none;
}

.chat-messages {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.chat-input-container {
    width: 100%;
    position: absolute;
    margin-left: -10px;

    z-index: 30;
    bottom: 0;
}

.chat-input-container input {
    font-family: 'Orbitron';
    padding: 5px;
    color: white;
    background: #262626;
    border: 2px solid #00ff38;
    box-shadow: 0 0 7px 1px #00ff38;
    width: 90%;
}

.chat-input-container button {
    font-family: 'Orbitron';
    padding: 5px;
    color: white;
    background: #262626;
    border: 2px solid #00ff38;
    box-shadow: 0 0 7px 1px #00ff38;
    width: 10%;
}
