/*
    This is the CSS for the GameTabs component
 */

.gametabs-base {
    margin-top: 50px;
}

.gametabs-tab {
    font-weight: normal;
    font-size: 35px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
    cursor: pointer;
}