/*
    The CSS for HostGame component
 */

.hostgame-base {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
}

.hostgame-form {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 60%;
    margin-bottom: 30px;
}

.hostgame-form-input {
    font-family: Orbitron;
    width: 250px;
    height: 40px;
    border-radius: 20px;
    padding-left: 15px;
    background: #262626;
    border: 2px solid #459bc5;
    box-shadow: 0 0 6px 2px #459bc5 !important;
    color: white;
}

.hostgame-form-checkbox-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 30px;
    width: 30%;
    font-family: Orbitron;
}

.hostgame-form-checkbox {
    height: 18px;
    width: 18px;
    box-shadow: 0 0 12px 1px #459bc5;
    border: 1px solid #459bc5 !important;
}

.hostgame-slider {
    width: 60% !important;
    color: #ff8d00 !important;
    margin-bottom: 60px !important;
}

.hostgame-button {
    font-family: Orbitron;
    width: 150px;
    padding: 0.35em 1.2em;
    border:0.1em solid  #459bc5;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    box-shadow: 0 0 6px 2px #459bc5;
    font-weight: 300;
    color: white;
    background-color: #262626;
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
}

.hostgame-button:hover {
    color: black;
    background-color:  #459bc5;
    text-decoration: none;
}

.hostgame-button:focus {
    outline: none;
    text-decoration: none;
}


/*
    Slider CSS
 */

.MuiSlider-markLabel {
    color: white !important;
}
