/*
    This CSS is for the JoinGameButton component
 */

.joingamebutton-button {
    font-family: Orbitron;
    width: 150px;
    padding: 0.35em 1.2em;
    border:0.1em solid  #000000;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    font-weight: 300;
    color: black;
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
}

.joingamebutton-button:hover {
    color: black;
    background-color:  #459bc5;
    text-decoration: none;
}