/*
    This CSS is for the JoinGameButton component.
 */

.joingamebutton-button {
    font-family: Orbitron;
    width: 150px;
    padding: 0.35em 1.2em;
    border:0.1em solid  #459bc5;
    margin:0 0.3em 0.3em 0;
    margin-bottom: 50px !important;
    border-radius:0.12em;
    box-shadow: 0 0 6px 2px #459bc5;
    box-sizing: border-box;
    font-weight: 300;
    color: white;
    background-color: #262626;
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
}

.joingamebutton-button:hover {
    color: black;
    background-color:  #459bc5;
    text-decoration: none;
}

.joingamebutton-button:focus {
    text-decoration: none;
    outline: none;
}