/*
    The CSS for the PublicGames tab in GameTabs
 */

.publicgames-base {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.publicgames-table {
    margin-top: 50px;
    width: 100%;
    margin-bottom: 50px;
}