/*
    The CSS for the MatchTable component
 */

 table {
    color: white;
    font-family: Orbitron;
    letter-spacing: 3px;
    width: 100%;
}

.publictable-headers {
    border-bottom: 1px solid white;
}

.publictable-table-row:hover {
    color: black;
    background-color:  #459bc5;
    transition: background-color .25s linear;
    text-decoration: none;
    cursor: pointer;
}

.publictable-table-row-active {
    color: black;
    background-color:  #459bc5;
    text-decoration: none;
}